{% extends 'stories/base.html' %}
{% load static %}

{% block title %}Stories for Children{% endblock title %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stories:index'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stories:category.html' 1 %}">Young Children <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stories:category.html' 2 %}">Older Children <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stories:story.html' newest.pk %}">Story <span class="sr-only">(current)</span></a>
        </li>                    
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'stories:contact.html'%}">Contact <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
{% endblock nav %}



{% block content%}

<div class="container-fluid contact_us_bg_img">
    <div class="container">
        <div class="row">
            <a href="{% url 'stories:index'%}" class="fh5co_con_123"><i class="fa fa-home"></i></a>
            <a href="{% url 'stories:contact.html'%}" class="fh5co_con pt-2"> Contact Us </a>
        </div>
    </div>
</div>
<div class="container-fluid  fh5co_fh5co_bg_contcat">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Call Me</span>
                        <span class="d-block c_g fh5co_contact_us_no_text"> (+84) 349 998 172 </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">My Email</span>
                        <span class="d-block c_g fh5co_contact_us_no_text">hadh31011999@gmail.com</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-map-marker"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Address</span>
                        <span class="d-block c_g fh5co_contact_us_no_text"> 860/16 Huynh Tan Phat, District 7</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">Contact Me</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form class="row" id="fh5co_contact_form" action="{% url 'stories:contact.html' %}" method="POST">
                    {% csrf_token%}
                    <div class="col-6 py-3">
                        {{ form.name }}
                    </div>
                    <div class="col-6 py-3">
                        {{ form.phone_number }}
                    </div>
                    <div class="col-6 py-3">
                        {{ form.email }}
                    </div>
                    <div class="col-6 py-3">
                        {{ form.subject }}
                    </div>
                    <div class="col-12 py-3">
                        {{ form.message }}
                    </div>

                    {% comment %} {{ form.as_ul }} {% endcomment %}
                    {% comment %} {{ form.as_table }} {% endcomment %}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="col-12 py-3 text-center"><input type="submit" class="btn contact_btn" value="Send Message"></div>
                </form>
            </div>
{#            <div class="col-12 col-md-6 align-self-center">#}
{#				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6778650353567!2d106.66443081523701!3d10.759291092333143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee1ff354f3f%3A0x18f40d9f2c7f8e18!2zVHJ1bmcgVMOibSBUaW4gSOG7jWMgLSDEkEggS2hvYSBI4buNYyBU4buxIE5oacOqbiAoQ1MyKQ!5e0!3m2!1svi!2s!4v1608621869338!5m2!1svi!2s" class="map_sss" allowfullscreen></iframe>#}
{#            </div>#}
            <div class="col-12 col-md-6 align-self-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.2394748027764!2d106.73058930947059!3d10.72759528090378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752565caeb825f%3A0x8e71399d04c059c3!2zODU4IEh14buzbmggVOG6pW4gUGjDoXQsIFTDom4gUGjDuiwgUXXhuq1uIDcsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1630856971885!5m2!1sen!2s" class="map_sss" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}