{% extends 'stories/base.html' %}
{% load static %}

{% block title %}stories - News Feed page{% endblock title %}

{% block content %}

<div class="container-fluid pb-4 pt-4 padding">
    <div class="container padding">
        <div class="row mx-0">
            <div class = "col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">RSS Feeds</div>
                </div>
                {% if feeds %}
                {% for entry in feeds %}
                    <div>
                        <div class="col-md-12">
                            <a href="{{ entry.link }}" class="fh5co_magna py-2"> {{ entry.title }}</a>
                            <a href="{{ entry.link }}" class="fh5co_mini_time py-3">
                                {{ entry.author }} - {{ entry.published }}
                                <div class="fh5co_consectetur">{{ entry.summary|safe }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}