{% extends 'stories/base.html' %}
{% load static %}

{% block title %}stories - Register page{% endblock title %}

{% block nav %}
    <li class="nav-item mn">
        <a class="nav-link" href="{% url 'stories:register.html'%}">Registration <span class="sr-only">(current)</span></a>
    </li>
{% endblock nav %}


{% block content %}

<div class="container-fluid mb-4">
    <div class="container">
        <div class="row">
            <div>
                <div class="text-center fh5co_heading py-2">Registration Form</div>
            </div>
            <div class="col-12 col-md-6 align-self-center">
                <form class="row" id="fh5co_contact_form" action="{% url 'stories:register.html' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-6 py-3 text-center">
                        <table class="table">
                            <tr>
                                <td></td>
                                <td>{{ user_form.as_table }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{ profile_form.as_table }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 py-3 text-center"><input type="submit" class="btn contact_btn" value="Register" ></div>
                </form>
            </div>
        </div>
        <div class="row">
            <h6>{% if registered %}Your registration is successfully. {% endif %}</h6>
        </div>
    </div>
</div>


{% endblock content %}