{% extends 'stories/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div>
            <div class="text-center fh5co_heading py-2">Login Form</div>
        </div>
        <div class="col-12 col-md-6 align-self-center">
            <form class="row" id="fh5co_contact_form" action="{% url 'stories:login.html' %}" method="POST">
                {% csrf_token %}
                <div class="col-6 py-3 text-center">
                    <table class="table">
                        <tr>
                            <td></td>
                            <td> <input name="username" type="text" class="fh5co_contact_text_box"
                                placeholder="Enter username" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input name="password" type="password" class="fh5co_contact_text_box"
                                placeholder="Enter password"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" class="btn contact_btn" value="Login" /></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h6>{% if login_result %}{{ login_result }}{% endif %}</h6>
        <h6>{% if logout_result %}{{ logout_result }}{% endif %}</h6>
    </div>
</div>

{% endblock content %}