{% extends 'stories/base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <form enctype="multipart/form-data" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            {% if registered %}{{ register_msg|safe }}{% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>{{ user_form.username.label }} <small>(<strong>*</strong>)</small></label>
                            {{ user_form.username }}
                        </div>
                        <div class="form-group col-md-6">
                            <label>{{ user_form.email.label }} <small>(<strong>*</strong>)</small></label>
                            {{ user_form.email }}
                        </div>
                        <div class="form-group col-md-6">
                            <label>{{ user_form.password.label }} <small>(<strong>*</strong>)</small></label>
                            {{ user_form.password }}
                        </div>
                        <div class="form-group col-md-6">
                            <label>{{ user_form.confirm.label }} <small>(<strong>*</strong>)</small></label>
                            {{ user_form.confirm }}
                        </div>
                        <div class="form-group col-md-6">
                            <label>{{ profile_form.portfolio.label }}</label>
                            {{ profile_form.portfolio }}
                        </div>
                        <div class="form-group col-md-6">
                            <label>{{ profile_form.image.label }}</label>
                            <div class="text-center mt-2">
                                {{ profile_form.image }}
                            </div>
                        </div>
                        <div class="small col-md-12 pl-3">(<strong>*</strong>): Required Field</div>
                        <div class="mt-3 col-md-12 text-center">
                            <button type="submit" class="btn contact_btn">Register</button>
                        </div>
                        <div class="mt-3 col-md-12 text-center">
                            <a href="{% url 'stories:login.html' %}">
                                Already have an account? Login here.</a>
                        </div>
                    </div>
                </form>


            </div>
        </div>

        <div class="col-md-4 d-none d-md-flex">
            <div class="container bg-register"></div>
        </div>

    </div>
</div>


{% endblock content %}